@charset "UTF-8";

/* --갤럭시 s 기준 360 640 화면사이즈 --*/
 * { margin: 0; padding: 0; }
body,html { width: 100%; -webkit-text-size-adjust: none; overflow-x: hidden }
/*-webkit-text-size-adjust: none; 폰트 사이즈 자동 조절 방지(텍스트를 볼 때 편하게 볼 수 있게 자동 변환) 또는 100% 사용, 모든 디바이스에서 동일하게 보여줌*/
ul{list-style: none}
a{text-decoration: none; color:#333333}
input,image,button{outline:0; border:0;user-select: none;}
.clr{clear:both;}
.clr:after{content:"";display: block;clear:both;}

.wrap{ width: 100vw;height:100vh;}

/*header*/
.hd,.fix_menu .fix_hd{ width: 100%; height: 60px; background:#196fda }
.hd a.logo{ display: block; width: 163px; height:32px; float: left; margin-top: 14px; margin-left: 15px }
.hd .tog_menu{ float:right; width: 60px; height: 50px; margin-top: 12px; position:relative}
.hd .tog_menu span{ display: block; width: 70%; height: 7px; background: #fff; position:absolute; left:9px;text-indent: -99999px;border-radius: 3px}
.hd .tog_menu .bar2{ top:15px}
.hd .tog_menu .bar3{ top:30px}
/*fix 메뉴*/
.fix_menu{ position:fixed;top: 0; left: -360px; width: 100%; height:100%; opacity:0; visibility:hidden; z-index:999;background-color: #fff; transition:0.6s}
.fix_menu.active{left:0;opacity:1;visibility:visible}
.fix_menu .fix_hd a.fix_logo{ display: block; width: 163px; height:32px; float: left; margin-top: 14px; margin-left: 85px;}
.fix_menu .fix_hd .cl_btn{ float:right; width: 50px; height: 50px;margin-top: 2px; position:relative;}
.fix_menu .fix_hd .cl_btn span{display: block; width: 30px; height:7px;background:#fff; position:absolute; transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s; -ms-transition:0.6s;top: 50%; right:10px; text-indent: -9999px; border-radius: 3px}
.fix_menu .fix_hd .cl_btn .bar1{transform: rotate(45deg)}
.fix_menu .fix_hd .cl_btn .bar2{transform: rotate(-45deg)}

/*menu리스트*/
.fix_menu .fix_ul{width: 360px; position:relative;}
.fix_menu .fix_ul > li{ width: 40%; text-align: center; }
.fix_menu .fix_ul > li.on{background: #ececec;}

.fix_menu .fix_ul .dep1{ display: block; width: 100%;  height: 83px; line-height: 80px;border-bottom: 1px solid #dddddd; border-right:1px solid #dddddd;font-weight: 700; box-sizing: border-box;}

.fix_menu .fix_ul .sub{ position:absolute; top: 0px; left:144px; width: 60%; height:580px; background: #fff; display: none;background: #ececec;}
.fix_menu .fix_ul .sub a.dep2{ display: block; width:215px; height: 82px; line-height: 80px;font-weight: 700;}
.fix_menu .fix_ul > li.on .sub{display: block;}

/*content*/
.content{ width: 100%;}
/*slide*/
.content .slide_box{width: 100%; height: 140px;position:relative; overflow: hidden;}
.content .slide_box .slide_ul{ width: 400%; height:140px;}
.content .slide_box .slide_ul li{float:left; width: 25%; height: 140px;}
.content .slide_box .slide_ul .sl1{background:pink}
.content .slide_box .slide_ul .sl2{background:skyblue}
.content .slide_box .slide_ul .sl3{background:violet}
.content .slide_box .slide_ul .sl4{background:yellowgreen}


.content .slide_box .btn_lst li{ width: 8px; height:8px; border-radius: 5px; float:left; margin: 0 5px; border:2px solid #fff; text-indent: -9999px; position:absolute; bottom:10px }
.content .slide_box .btn_lst li.btn1{left:145px}
.content .slide_box .btn_lst li.btn2{left:160px}
.content .slide_box .btn_lst li.btn3{left:175px}
.content .slide_box .btn_lst li.btn4{left:190px}
.content .slide_box .btn_lst li.on{ background:#fff }

.of_info{ width: 100%;  }
.of_info .tit{ line-height:5.0; text-align: center}
.of_info .ico_box{ width:100%; display: flex; flex-flow: row; justify-content:space-around; align-items: center}
.of_info .ico_box a{ display: block; width:90px; height:100px}

.of_info .ico_box a img{ display: block; width: 56px; height: 56px; margin: 0 auto; border-radius: 10px;background: #ececec}
.of_info .ico_box a:hover img{ background:#196fda}
.of_info .ico_box a span{ text-align: center; font-size: 12px;font-weight: 600; display: block; width: 100%; height:30px;line-height: 30px}
.of_info .ico_box a.info_ico8 span{line-height:1.6;margin-top: 5px}
.of_info .poli_service{ display: block; width: 80%; height: 50px; line-height: 50px; text-align: center; background-color:#196fda; margin: 0 auto; margin-top: 35px; color:#fff;border-radius: 3px}

/*게시판 colgroup > col width="" 으로 전체 셀 크기 조절 가능 퍼센트 사용
고정값은 픽셀로!*/
.noti{ width: 80%; position:relative; margin: 0 auto; margin-top: 50px;}
.noti_tit{ width: 100%; }
.noti_tit li{ width:20%;height:40px;line-height: 40px; font-size:14px; font-weight: 600; float:left; background-color: #ececec; text-align: center;border-radius: 2px}
.noti_tit li.it5 a { display: block; width: 100%; height: 100%;}
.noti_tit li.on{ background-color:#196fda; color:#fff}
.noti .noti_box{ width:80%; min-height: 150px;
 position:relative; }
.noti .noti_box > div{ width:100%; position:absolute; left: 0; top: 0;background-color: #fff; display: none; }
.noti .noti_box > div.on{display: block;}
.noti .noti_box > div .tb{ width: 100%; display: table}
.noti .noti_box > div .tb tr{display: table-row}
.noti .noti_box > div .tb td{display: table-cell;line-height:1.6}

.noti .noti_box > div .tb td.cel1 a{ display: block; width:220px; font-size:15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
.noti .noti_box > div .tb td.cel1 a:hover{text-decoration: underline; color:blue; font-weight: 600}
.noti .noti_box > div .tb td.cel2{ display: block; font-size:15px;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
/*now*/
.now{width: 80%; margin: 0 auto}
.now .txt{ width: 100%; height:50px; background-color: #ececec;}
.now .txt li{float:left; height:100%}
.now .txt li.tit{font-size:1.12em;width:80%; line-height:50px; font-weight: 600; padding-left: 10px;box-sizing: border-box}
.now .txt li.plus{width: 20%; height:100%; float:right; }
.now .txt li.plus a.more{display: block; width: 45%; height:100%; position:relative; margin: 0 auto; }
.now .txt li.plus a.more span{display: block; width:21px; height:5px;background-color: #196fda;position:absolute; top: 40%; right:5%; z-index: 50}
.now .txt li.plus a.more:hover span{background-color:#fff;}
.now .txt li.plus a.more span.bar2{transform:rotate(90deg)}

/*now슬라이드*/
.now .slide_box1{width: 100%; height: 140px;position:relative; overflow: hidden;}
.now .slide_box1 .slide_ul1{ width: 400%; height:140px;}
.now .slide_box1 .slide_ul1 li{float:left; width: 25%; height: 140px;}
.now .slide_box1 .slide_ul1 .sl1{background:pink}
.now .slide_box1 .slide_ul1 .sl2{background:skyblue}
.now .slide_box1 .slide_ul1 .sl3{background:violet}
.now .slide_box1 .slide_ul1 .sl4{background:yellowgreen}

.now .slide_box1 .btn_lst li{ width: 8px; height:8px; border-radius: 5px; float:left; margin: 0 5px; border:2px solid #fff; text-indent: -9999px; position:absolute; bottom:10px }
.now .slide_box1 .btn_lst li.btn1{left:145px}
.now .slide_box1 .btn_lst li.btn2{left:160px}
.now .slide_box1 .btn_lst li.btn3{left:175px}

/*police_intro*/
.p_intro{ width: 80%; margin: 0 auto;}
.p_intro .tit{ text-align: center; margin: 5% 0; padding: 10%; background-color: #ececec; border:1px solid #ececec; border-radius: 3px }
.p_intro .p_lst{ width: 100%; }
.p_intro .p_lst li{ width:48%; float:left; background-color:#196fda; border-radius: 3px}
.p_intro .p_lst li:nth-child(odd){ margin-right: 2%}
.p_intro .p_lst li a{ display:block; padding: 8% 0; text-align: left; position:relative}
.p_intro .p_lst li a:before{ content:""; display: block; width:39px; height: 27px; float:left; }
.p_intro .p_lst li.it1 a:before{ background-image:url("../data/m_data/m_ico/nt01_info.png") }
.p_intro .p_lst li.it2 a:before{ background-image:url() }
.p_intro .p_lst li.it3 a:before{ background-image:url("../data/m_data/m_ico/nt01_group_lst.png") }
.p_intro .p_lst li.it4 a:before{ background-image:url() }


